@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body{
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

/* + navbar section */
.nav-section{
    background-color: #111;
    color: #fff;
    padding: 20px 50px;
}
/* + top navbar */
.nav-section .navbar-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-section .navbar-top .navbar-item:nth-child(2){
    width: 35%;
}
.nav-section .navbar-top .navbar-search{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}
.nav-section .navbar-top .searchInput{
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    transition: 0.3s;
    font-size: 18px;
    border-radius: 5px;
}
.nav-section .navbar-top .searchInput:hover{
    background-color: rgb(141, 141, 141);
}
.nav-section .navbar-top .searchInput::placeholder{
    color: lightgray;
}
.nav-section .navbar-top .search-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.nav-section .navbar-top .navbar-text{
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}
/* / top navbar */

/* + navbar menu */
.nav-section .navbar-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    position: relative;
}
.nav-section .navbar-menu .menuItem{
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}
.nav-section .navbar-menu .line-active{
    position: absolute;
    height: 2px;
    background-color: gray;
    bottom: 6px;
    transition: 0.5s;
}
/* / navbar menu */
/* / navbar section */

/* + header slider section */
.header-section{
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
}
.header-section .sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}
.header-section .sliderWrapper .sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header-section .sliderItem .sliderTitle{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    z-index: 1;
}
.header-section .sliderItem .sliderPrice{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    border: 1px solid gray;
    z-index: 1;
}
.header-section .sliderItem .buyButton{
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    border: 1px solid gray;
    z-index: 1;
    background-color: #000;
    cursor: pointer;
    transition: 0.3s;
}
.header-section .sliderItem .buyButton:hover{
    color: #000;
    background-color: #fff;
}
.header-section .sliderItem .sliderImg{
    z-index: 1;
}

.header-section .sliderItem .sliderBg{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
}

.header-section .sliderItem:nth-child(1) .sliderBg{
    background-color: #369e62;
}
.header-section .sliderItem:nth-child(2) .sliderBg{
    background-color: rebeccapurple;
}
.header-section .sliderItem:nth-child(3) .sliderBg{
    background-color: teal;
}
.header-section .sliderItem:nth-child(4) .sliderBg{
    background-color: cornflowerblue;
}
.header-section .sliderItem:nth-child(5) .sliderBg{
    background-color: rgb(124, 115, 80);
}


.header-section .sliderItem:nth-child(1) .sliderPrice{
    color: #369e62;
}
.header-section .sliderItem:nth-child(2) .sliderPrice{
    color: #fff;
}
.header-section .sliderItem:nth-child(3) .sliderPrice{
    color: teal;
}
.header-section .sliderItem:nth-child(4) .sliderPrice{
    color: cornflowerblue;
}
.header-section .sliderItem:nth-child(5) .sliderPrice{
    color: cornsilk;
}
/* / header slider section */

/* + features section */
.features-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.features-section .feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.features-section .feature .featureIcon{
    width: 50px;
    height: 50px;
}
.features-section .feature .featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}
.features-section .feature .featureDesc{
    color: gray;
    width: 50%;
    height: 100px;
}
/* / features section */